form{
    text-align: center;
    border: solid 1px;
    padding: 50px;
    margin: 50px;
}
.inp-top{
    margin-bottom: 10px;

}
input[type=text]{
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
}
.btn{
    margin: 30px 0 10px;
}
.btn-blue{
    width: 60px;
    height: 40px;
}