* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0;
}
.h2,
.h3,
h2,
h3 {
  margin-bottom: 30px;
}
h4 {
  font-size: 1.714em;
  line-height: 1.45em;
}
h5 {
  font-size: 1.57em;
  line-height: 1.4em;
  margin-bottom: 15px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
body {
  background-image: url("images/marek.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  width: 100%;
}
.wrapper.wrapper-full-page {
  background-color: #0000007a;
  min-height: 100vh;
  height: auto;
}
.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
}
.full-page {
  align-items: center;
  min-height: 100vh;
  padding: 100px 0 120px;
}
.section-image .container {
  background-size: cover;
  background-position: 50%;
  z-index: 2;
  position: relative;
}
.register-page {
  width: 100%;
}
.full-page .register-page > .container {
  margin-top: 5vh;
}
.section-image .container {
  z-index: 2;
  position: relative;
}
.lock-page .navbar.navbar-transparent,
.login-page .navbar.navbar-transparent,
.register-page .navbar.navbar-transparent {
  border-bottom: 1px solid transparent;
  margin-top: 25px;
}
.navbar.navbar-transparent {
  background-color: transparent !important;
  box-shadow: none;
}
.navbar.navbar-absolute {
  position: absolute;
  width: 100%;
  padding-top: 10px;
  z-index: 1029;
}
.navbar {
  min-height: 53px;
  margin-bottom: 20px;
  padding-bottom: 0.625rem;
}
.navbar,
.navbar .container,
.navbar .container-fluid,
.navbar .container-lg,
.navbar .container-md,
.navbar .container-sm,
.navbar .container-xl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .navbar-wrapper {
  display: inline-flex;
  align-items: center;
}
.fixed-top {
  top: 0;
  right: 0;
  left: 0;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.navbar-collapse {
  flex-grow: 1;
  align-items: center;
}
.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul {
  margin-top: 0;
}
a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.lock-page .navbar .navbar-collapse .nav-item .nav-link i,
.login-page .navbar .navbar-collapse .nav-item .nav-link i,
.register-page .navbar .navbar-collapse .nav-item .nav-link i {
  margin-right: 4px;
}
.navbar .navbar-nav .nav-link i.fas {
  top: 4px;
  font-size: 16px;
}
.navbar .navbar-nav .nav-link i.fa,
.navbar .navbar-nav .nav-link i.fas {
  font-size: 18px;
  margin-right: 3px;
  position: relative;
  top: 3px;
  text-align: center;
  width: 21px;
}
.navbar .navbar-nav .nav-link {
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
  margin-right: 5px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.fas {
  display: inline-block;
  font: normal normal normal 14px/1 "nucleo-icons";
  font-size: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.mr-auto {
  margin-right: auto !important;
}
.full-page .register-page .info-horizontal {
  padding: 0 0 20px;
  text-align: left !important;
}
.full-page .register-page .info-horizontal .icon {
  margin-top: 0;
}
.section-image .description,
.section-image .info-area .icon:not(.icon-circle) {
  color: hsla(0, 0%, 100%, 0.8);
}
.info-horizontal .icon {
  float: left;
  margin-right: 10px;
}
.full-page .register-page .info-horizontal .icon > i {
  font-size: 2em;
}
.section-image .card-pricing.card-plain ul li,
.section-image .info-area.info-horizontal .icon i,
.section-image .info-title {
  color: #fff;
}
.fas,
.fab {
  display: inline-block;
  font: normal normal normal 14px/1 "nucleo-icons";
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.full-page .register-page .info-horizontal .description {
  overflow: hidden;
}
.section-image .description,
.section-image .info-area .icon:not(.icon-circle) {
  color: hsla(0, 0%, 100%, 0.8);
}
.section-image .info-title {
  color: #fff;
}
p.description {
  font-size: 1.14em;
  font-weight: 300;
}
.card {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  border: 0;
  transition: transform 0.3s cubic-bezier(0.34, 2, 0.6, 1), box-shadow 0.2s ease;
}
.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  background-clip: inherit;
}
.card .card-header:not([data-background-color]) {
  background-color: initial;
}
.card .card-header {
  padding: 15px 15px 0;
  border: 0;
}
.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
  margin-bottom: 0;
}
.card .card-header .card-title {
  margin-top: 10px;
}
.card-title {
  margin-bottom: 0.75rem;
}
.card .card-body {
  padding: 15px 15px 10px;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
}
.card-signup .form-check {
  margin-top: 20px;
}
.card-signup .form-check label {
  margin-left: 7px;
  padding-left: 38px;
}
.card label {
  font-size: 0.8571em;
  color: #9a9a9a;
}
.card-description {
  color: #9a9a9a;
  font-weight: 300;
}
.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
.card .card-footer {
  background-color: initial;
  border: 0;
}
.input-group {
  margin-bottom: 10px;
  position: relative;
}
.input-group {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}
.input-group-prepend {
  display: flex;
  margin: 0;
}
.input-group .input-group-prepend .input-group-text {
  padding: 10px;
}
.input-group
  > .input-group-append:last-child
  > .btn:not(:last-child):not(.dropdown-toggle),
.input-group
  > .input-group-append:last-child
  > .input-group-text:not(:last-child),
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-prepend .input-group-text {
  border-right: none;
}
.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
  background-color: initial;
  border: 1px solid #e3e3e3;
  color: #66615b;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.input-group-append .input-group-text i,
.input-group-prepend .input-group-text i {
  width: 17px;
}

.input-group-append .input-group-text i,
.input-group-prepend .input-group-text i {
  opacity: 0.5;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-weight: 600px;
  text-transform: uppercase;
  border: none;
  margin: 10px 1px;
  transition: all 0.15s linear;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn.btn-twitter {
  background-color: #55acee;
  color: #fff;
}
.btn.btn-icon,
.navbar .navbar-nav > a.btn.btn-icon {
  height: 2.375rem;
  min-width: 2.375rem;
  width: 2.375rem;
  padding: 0;
  font-size: 0.9375rem;
  overflow: hidden;
  position: relative;
  line-height: normal;
}
.btn-round {
  border-width: 1px;
  border-radius: 30px;
}
button,
input,
optgroup,
select,
textarea {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
.btn.btn-icon:not(.btn-footer) .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-12px, -12px);
  line-height: 1.5626rem;
  width: 24px;
}
.btn i {
  margin-right: 3px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn + .btn {
  margin-left: 5px;
}
.btn.btn-dribbble {
  background-color: #ea4c89;
  color: #fff;
}
.btn.btn-facebook {
  background-color: #3b5998;
  color: #fff;
}
.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}
.form-check {
  display: block;
  position: relative;
  padding-left: 0;
  margin-bottom: 0.5rem;
}
.form-check .form-check-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  padding-left: 35px;
  line-height: 26px;
  margin-bottom: 0;
}
.form-check-radio input[type="radio"],
.form-check input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  visibility: hidden;
}
.form-check-label input[type="checkbox"]:checked + .form-check-sign:before {
  background-color: #66615b;
}
.form-check .form-check-sign:after,
.form-check .form-check-sign:before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  cursor: pointer;
  border-radius: 6px;
  top: 0;
  background-color: #aaa7a4;
  transition: opacity 0.3s linear;
}
.form-check input[type="checkbox"]:checked + .form-check-sign:after {
  opacity: 1;
}
.form-check .form-check-sign:after {
  font-family: "FontAwesome";
  content: "\f00c";
  top: -1px;
  text-align: center;
  font-size: 15px;
  opacity: 0;
  color: #fff;
  border: 0;
  background-color: inherit;
}
.full-page .footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.full-page > .footer {
  z-index: 4;
}
.footer {
  padding: 24px 0;
}
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.footer nav {
  display: inline-block;
  padding-left: 20px;
}
.footer ul {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
.footer ul li {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.footer ul li a {
  color: inherit;
  padding: 0.5rem;
  font-size: 0.8571rem;
  text-transform: uppercase;
}
.footer .copyright {
  font-size: 12px;
  line-height: 1.8;
  color: #fff;
  padding-right: 20px;
}
.heart {
  color: #eb5e28;
}
*,
:after,
:before {
  box-sizing: border-box;
}
